
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}
body{
  margin:0;
}
.container{
  width:90%;
  max-width:1300px;
  margin:auto;
}

.hero{
  min-height:550px;
  position:relative;
  overflow:hidden;
  isolation:isolate;
  color:white;
}
.heroVideo{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;   /* makes video behave like background-size:cover */
  z-index:-1;
}
/* .hero::before{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(
    90deg,
    rgba(0,25,45,0.85),
    rgba(0,45,70,0.4)
  );
  z-index:0;
} */

.topbar{
  background:#eee;
  color:#333;
  font-size:14px;
}

.topbarFlex{
  display:flex;
  justify-content:space-between;
  padding:6px 0;
}

.contact span{
  margin-left:20px;
}

.navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:20px 0;
  background:transparent;
}

.logo img{
  width:70px;
  border-radius: 50%;
}

.menu{
  list-style:none;
  display:flex;
  gap:30px;
  font-weight:600;
  font-size:14px;
}

.menu li{
  cursor:pointer;
}

.navBtns{
  display:flex;
  gap:10px;
}

.btnOutline{
  border:1.5px solid white;
  background:transparent;
  color:white;
   font-weight: 600;
  padding:8px 16px;
  border-radius:20px;
  cursor: pointer;
}

.btnFill{
  background:white;
  color:#cc0001;
  font-weight: 600;
  border:none;
  padding:8px 16px;
  cursor: pointer;
  border-radius:20px;
}
.contact{
  display:flex;
  align-items:center;
  gap:12px;
  font-size:14px;
}

.contactItem{
  display:flex;
  align-items:center;
  gap:6px;
}

.contactIcon{
  font-size:16px;
}

.contactDivider{
  color:#999;
  font-weight:300;
}

.heroContent{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:80px;
}

.left h1{
  font-size:52px;
  line-height:1.2;
}

.red{
  color:#ff0000;
}

.cta{
  margin-top:30px;
  background:#d00000;
  border:none;
  color:white;
  padding:15px 35px;
  border-radius:8px;
  font-size:18px;
}

.right{
  font-size:28px;
  text-align:left;     
  max-width:280px;    
}


@media(max-width:1024px){
  .heroContent{
    flex-direction:column;
    text-align:center;
    gap:40px;
  }

  .right{
    text-align:center;
  }
}

@media(max-width:768px){

  .menu{
    display:none;
  }

  .left h1{
    font-size:34px;
  }

  .hero{
    min-height:700px;
  }
}

.regSection{
  background:#ffffff;
  padding:80px 20px;
}

.regContainer{
  max-width:900px;
  margin:auto;
}

.regTitle{
  text-align:center;
  color:#BE0000;
  margin-bottom:30px;
  font-weight:700;
}


.regTabs{
  display:flex;
  border:2px solid #BE0000;
  margin-bottom:30px;
}

.regTab{
  flex:1;
  padding:14px;
  border:none;
  background:#fff;
  cursor:pointer;
  color: #BE0000;
  font-weight:600;  
}

.regTab.active{
  background:#BE0000;
  color:#fff;
}


.regForm{
  display:flex;
  flex-direction:column;
  gap:20px;
}
.regRowLabel{
  font-size:14px;
  color:#333;
  font-weight:500;
}

.regGridLabel{
  display:grid;
  grid-template-columns:1fr 1fr;
  margin-top:px;
}

.regSub{
  font-size:14px;
  color:#333;
}

.regGrid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.regInput{
  padding:14px;
  border:1px solid #ccc;
  outline:none;
  width:100%;
}

.regInput.full{
  grid-column:1/-1;
}

.regSelect{
  width:100%;
  padding:14px;
  border:1px solid #ccc;
  background:#fff;
  font-size:14px;
  outline:none;
  appearance:none; 
  cursor:pointer;
  background-image:url("data:image/svg+xml;utf8,<svg fill='%23999' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5z'/></svg>");
  background-repeat:no-repeat;
  background-position:right 12px center;
}



.regBtn{
  background:#BE0000;
  color:white;
  border:none;
  padding:16px;
  margin-top:10px;
  border-radius:6px;
  font-size:16px;
}


@media(max-width:768px){

  .regGrid{
    grid-template-columns:1fr;
  }

  .regTabs{
    flex-direction:column;
  }
}


.footMain{
  background:#000;
  color:#fff;
  padding-top:60px;
  font-family: 'DM Sans', sans-serif !important;
}

.footContainer{
  max-width:1300px;
  margin:auto;
  display:grid;
  grid-template-columns:2fr 1fr 1fr 2fr;
  gap:100px;
  padding:0 20px 40px;

}

.footBrandWrap{
  display:grid;
  grid-template-columns:100px 1fr;
  gap:50px;
  align-items:flex-start;  
}



.footBrandLogo{
  display:flex;
  justify-content:center;
}

.footLogo{
  width:90px;
  border-radius: 50%;

}

.footBrandInfo{
  display:flex;
  flex-direction:column;
  gap:8px;
  font-size:12px;
  font-weight: 400;
  max-width: 350px !important;
}

.footSocial{
  display:flex;
  gap:15px;
  margin-bottom:10px;

}

.footSocial svg{
  background:#fff;
  color:#000 !important;   
  fill:#000 !important;  
  width:34px;
  height:34px;
  padding:8px;
  border-radius:50%;
  box-sizing:border-box;
}


.footSocial svg:hover{
  /* background:#d00000; */
  color:#fff !important;
}


.footBrand p{
  font-size:13px;
  color:#ccc;
  margin-bottom:6px;
  max-width: 100px;
}
.contact-address{
  white-space:nowrap; 
}

.footCol h4{
  margin-bottom:15px;
  font-size:16px;
}

.footCol ul{
  list-style:none;
}

.footCol li{
  margin-bottom:10px;
  color:white;
  cursor:pointer;
  font-size:14px;
  font-weight: 400;
}


.footCmasLogo{
  width:120px;
  margin-bottom:10px;
}

.footRecognized{
  font-size:12px;
  color:#aaa;
}

.footCmasText{
  font-size:14px;
  margin-top: 10px;
  font-weight:700;
}

.footBottom{
  border-top:1px solid #222;
  text-align:center;
  padding:18px;
  font-size:12px;
  color:#aaa;
}

/* ===== RESPONSIVE ===== */

@media(max-width:1024px){
  .footContainer{
    grid-template-columns:1fr 1fr;
    gap:30px;
  }
}

@media(max-width:600px){
  .footContainer{
    grid-template-columns:1fr;
    text-align:center;
  }

  .footSocial{
    justify-content:center;
  }
}

@media(max-width:768px){
  .regGrid,
  .regGridLabel{
    grid-template-columns:1fr;
  }
}

.loginSection{
  background:#ffffff;
  padding:80px 20px;
}

.loginContainer{
  max-width:900px;
  margin:auto;
}

.loginTitle{
  color:#d00000;
  font-weight:700;
  margin-bottom:30px;
 
  text-align: center;
}

.loginForm{
  display:flex;
  flex-direction:column;
  gap:30px;
}

/* FIELD */
.loginField{
  width:100%;
}

.loginLabel{
  display:block;
  margin-bottom:6px;
  font-size:14px;
  color:#333;
}

.loginInput{
  width:100%;
  padding:14px;
  border:1px solid #ccc;
  outline:none;
  background:#fff;
}

/* BUTTON */
.loginBtnWrap{
  display:flex;
  justify-content:center;
  margin-top:20px;
}

.loginBtn{
  background:#d00000;
  color:#fff;
  border:none;
  padding:14px 50px;
  border-radius:8px;
  font-weight:600;
  cursor:pointer;
}

/* RESPONSIVE */
@media(max-width:768px){
  .loginContainer{
    padding:0 10px;
  }
}
