/* ===== MAIN LAYOUT ===== */

.layout{
  display:flex;
  min-height:100vh;
}

/* ===== SIDEBAR ===== */

.sidebar{
  width:260px;
  height:100vh;
  background:#000;
  position:fixed;
  left:0;
  top:0;
}

/* ===== MAIN CONTENT ===== */

.content{
  margin-left:260px;
  width:calc(100% - 260px);
  min-height:100vh;
  background:#f5f5f5;
}